div{font-family: ll;}
@font-face {
    font-family: ll;
    src: url(imgs/e.otf);
}
html{
    overflow: hidden;
}
#header{
    transition: all 1s;
    z-index: 29;
    top:0;
    left:0;
    width: 100%;
    height: 10rem;
    position: fixed;
    background: linear-gradient(75deg, rgba(0,0,0,0) , #E95193);
}

#background{
    z-index: -1;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: all 1s;
    background-size: cover;
    /* background-image: url('imgs/bg/c1.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
}
#foreground{display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 40;background: black;transition: all 0.4s;}

#scrollbar{
    border-radius: 2rem;
    /* box-shadow: 0 0 2rem black inset; */
    z-index: 30;
    transition: all 1s;
    position: fixed;
    top:0;
    right:0;
    width: 3rem;
    height: 100%
}
.scrollthumb{
    top:0;
    position: relative;
    box-shadow: 0 0 1rem black;
    border-radius: 2rem;
    height: 10%;
    width: 3rem;
    background: rgba(255, 255, 255, 0.8);
}

#home{
    transition: all 1s;
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transition: all 1s;
    transform: translate(-50%,-50%);
}

#exhibition{
    z-index: 0;
    transition: top 0,opacity 1s;
    position: absolute;
    display: none;
    opacity: 0;
    top:10rem;
    left:0;
    width: 100%;
    flex-wrap: wrap;
}
#show_picture{
    display: none;
    left:0;
    top:0;
    z-index: 20;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.5s;
}
.show_picture_container{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imgs/bg/c10.jpg);
}

#music{
    z-index: 0;
    transition: top 0.2s,opacity 1s;
    position: absolute;
    display: none;
    opacity: 0;
    top:10rem;
    left:0;
    width: 100%;
    flex-wrap: wrap;
}
#player{
    transition: all 1s;
    z-index: 20;
    display: none;
    position: absolute;
    top: 0rem;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, rgba(0,0,0,0.7) , rgba(233,81,147,0.7))
}
.play_cover{
    z-index: 21;
    border-radius: 2rem;
    position: absolute;
    left: 10rem;
    top:12rem;
    height: 50rem;
    width: 50rem;
    background: rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    background-size: contain;
}
.play_title{
    line-height: 1;
    position: absolute;
    text-align: center;
    left: 10rem;
    top: 65rem;
    width: 50rem;
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.7);
}
.play_lyric{
    transition: all 0.2s;
    border-radius: 2rem;
    position: absolute;
    left: 60rem;
    top: 40rem;
    height: 60rem;
    width: calc(100% - 60rem);
}
.lyric_texts{
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    height: 5rem;
    font-size: 3rem;
    text-align: center;
}
#playerControl{
    opacity: 0;
    transition: all 0.3s;
    position: absolute;
    display: flex;
    bottom: 10rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5rem;
}
#playerControl:hover,#playerControl:active{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}
.player_button{
    opacity: 0.7;
    margin: 3rem;
    transition: all 0.3s;
    position: relative;
    width: 6rem;
    height: 6rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.player_subutton{
    top: 1rem;
    opacity: 0.7;
    transition: all 0.3s;
    margin: 3rem;
    position: relative;
    width: 4rem;
    height: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.player_subutton:hover,.player_button:hover{
    opacity: 1;
}
.player_subutton:active{
    width: 3.3rem;
    height: 3.3rem;
    opacity: 1;
}
.player_button:active{
    width: 5rem;
    height: 5rem;
    opacity: 1;
}
.music_progress_bar{
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.music_progress_bar:hover{
    height: 3rem;
}
.music_progress{
    height: 100%;
    left: 0;
    width: 0;
    background-color: rgba(255, 255, 255, 0.7);
}
.music_progress_thumb{
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 0;
    width: 0;
    border: rgba(255, 255, 255, 1) solid 2rem;
    border-radius: 50%;
    box-shadow: 0 0 2rem black;
}
.music_progress_thumb:hover{
    opacity: 1;
}
#playerEntrance{
    transition: all 1s linear 0s;
    z-index: 21;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10rem;
    width: 10rem;
    border:rgba(255, 255, 255, 0.7) solid 1rem;
    border-radius: 50%;
}

#notice{
    z-index: 30;
    padding: 2rem 0;
    flex-direction: column;
    bottom:3rem;
    display: none;
    transition: all 1s;
    position: fixed;
    opacity: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
    background:linear-gradient(90deg,rgba(0,0,0,0),white 50%,rgba(0,0,0,0));
}
.notice_content{
    font-size: 4rem;
}
.notice_hojyuu{
    font-size: 3rem;
}

.nom{
    margin: 1rem 4rem;
    border-radius: 5rem;
    height: 40rem;
    width: 30rem;
    transition: all 0.5s;
    box-shadow: 0 0 5rem rgba(255, 255, 255, 0.9);
    background:rgba(255, 255, 255, 0.3);
}
.nom:hover,.nom:active{
    background: rgba(0,0,0,0.3);
}

.pic{
    transition: all 1s;
    margin:2rem;
    height: 26rem;
    width: 26rem;
    background-position: center;
    background-size: cover;
    border-radius:5rem;
}
.pic:hover,.pic:active{
    margin: 1rem;
    height: 28rem;
    width:28rem;
}
.title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s;
    font-size: 3rem;
    color: black;
    text-align: center;
}
.title::first-letter{
    font-size: 3.5rem;
}
.title:hover,.title:active{
    overflow: visible;
    color: white;
    font-size: 3.5rem;
}
.subtitle{
    transition: all 0.3s;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}
.subtitle::first-letter{
    font-size: 3rem;
}
.subtitle:hover,.subtitle:active{
    color: rgba(255, 255, 255, 0.7);
    font-size: 3rem;
}
.title_pic{
    top:2rem;
    left:2rem;
    height: 6rem;
    position: absolute;
}