div{font-family: ll;}
@font-face {
    font-family: ll;
    src: url(imgs/e.otf);
}
html{
    overflow: hidden;
}
#header{
    transition: all 1s;
    z-index: 29;
    top:0;
    left:0;
    width: 100%;
    height: 10rem;
    position: fixed;
    background: linear-gradient(75deg, rgba(0,0,0,0) , #E95193);
}

#background{
    z-index: -1;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: all 1s;
    background-size: cover;
    /* background-image: url('imgs/bg/c1.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
}

#scrollbar{
    border-radius: 2rem;
    box-shadow: 0 0 2rem black inset;
    z-index: 19;
    transition: all 1s;
    position: fixed;
    top:10rem;
    right:0;
    width: 3rem;
    height: calc(100% - 10rem);
}
.scrollthumb{
    top:0;
    position: relative;
    box-shadow: 0 0 1rem black;
    border-radius: 2rem;
    height: 10%;
    width: 3rem;
    background: rgba(255, 255, 255, 0.8);
}

#home{
    transition: all 1s;
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transition: all 1s;
    transform: translate(-50%,-50%);
}

#exhibition{
    z-index: 0;
    transition: top 0.2s,opacity 1s;
    position: absolute;
    display: none;
    opacity: 0;
    top:10rem;
    left:0;
    width: 100%;
    flex-wrap: wrap;
}

#show_picture{
    display: none;
    left:0;
    top:0;
    z-index: 20;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.5s;
}
.show_picture_container{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imgs/bg/c10.jpg);
}

#notice{
    z-index: 30;
    padding: 2rem 0;
    flex-direction: column;
    bottom:3rem;
    display: none;
    transition: all 1s;
    position: fixed;
    opacity: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
    background:linear-gradient(90deg,rgba(0,0,0,0),white 50%,rgba(0,0,0,0));
}
.notice_content{
    font-size: 4rem;
}
.notice_hojyuu{
    font-size: 3rem;
}

.nom{
    margin: 1rem 4rem;
    border-radius: 5rem;
    height: 40rem;
    width: 30rem;
    transition: all 0.5s;
    box-shadow: 0 0 5rem rgba(255, 255, 255, 0.9);
    background:rgba(255, 255, 255, 0.3);
}
.nom:hover,.nom:active{
    background: rgba(0,0,0,0.3);
}

.pic{
    transition: all 1s;
    margin:2rem;
    height: 26rem;
    width: 26rem;
    background-position: center;
    background-size: cover;
    border-radius:5rem;
}
.pic:hover,.pic:active{
    margin: 1rem;
    height: 28rem;
    width:28rem;
}
.title{
    transition: all 0.5s;
    font-size: 3rem;
    color: black;
    text-align: center;
}
.title::first-letter{
    font-size: 3.5rem;
}
.title:hover,.title:active{
    color: white;
    font-size: 3.5rem;
}
.subtitle{
    transition: all 0.3s;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}
.subtitle::first-letter{
    font-size: 3rem;
}
.subtitle:hover,.subtitle:active{
    color: rgba(255, 255, 255, 0.7);
    font-size: 3rem;
}
.title_pic{
    top:2rem;
    left:2rem;
    height: 6rem;
    position: absolute;
}